:root
{
  --talk-height: 5em;
  --load-height: 1em;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}

#chatroom
{
    min-height: 100%;
    height: 100%;
}

#root
{
  min-height: inherit;
  height: inherit;
}

#messages
{
  height: calc(100% - var(--talk-height) - var(--load-height));
  overflow-y: auto;
}

#load
{
  height: var(--load-height);
}

#loadbox
{
  color: grey;
  border-radius: 10px;
	border-width: 1px;
  border-style: groove;
  background-color: #fdf8f0;
}

#loadbox:hover
{
  background-color: #ffe8c4;
  cursor: pointer;
}

#talk
{
  height: var(--talk-height);

}